# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
.env

# CodeCarbon
emissions.csv
.codecarbon.config
powermetrics_log.txt

# R
.Rhistory
.RData
.Rproj.user/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
